*{
    margin: 0em;
    padding: 0em;
    list-style: none;
    text-decoration: none;
}

#content{
    width: 100%;
    min-height: 500px;
}
header{
    width: 100%;
    height: 70px;
    background-color: #f0932b;
    position: fixed;
    z-index: 9;
    
}
label.logo{
    font-size: 35px;
    color: white;
    padding: 0 150px;
    line-height: 80px;
    font-weight: bold;
}
header ul{
    float: right;
    margin-right: 40px;
}
header ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
header ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover{
    background: #c7ecee;
    transition: .5s;
}
.checkbnt{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{display: none;}
/* ---------------------------------------section--------------------------------------------- */


.principale{
   width: 100%;
   min-height: 850px;
   display: inline-block;
   overflow: hidden;
}
.description{
    margin-top: 3rem;
    width: 100%;
}
.description h1{
    line-height: 80px;
    text-align: center;
    padding-top: 3rem;  
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
.description p {
    text-align: justify;
    line-height: 25px;
    margin-bottom: 7rem;
    margin-left: 5rem;
    width: 90%;    
}
.left{
    text-align: justify;
    position: relative;
    top: -6rem;
}
    

.left div{display: block;}
.left h1{
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    
}
.left .titre{
    margin-bottom: 4rem;
    font-size: 35px;
    text-decoration: underline;
}
.left .ingredient_1{
    width: 100%;
    height: 290px;
}
.principale section:nth-of-type(2),.principale section:nth-of-type(3){
    display: inline-flex;
    width: 50%;
    
}
.ingredient_1 article{
    width: 35%;
    float: left;
}
.ingredient_1 aside{
    width: 65%;
    float:right;
    margin-top: -2.5rem;
}
.principale .ingredient_1 img{
    width: 70%;
    height: 30%;
    border-radius: 5px;
    margin-left: 2rem;
}
article h2{
    text-align: center;
    padding: 5px;
    font-size: 25px;
}
section .contenue .rigth{
    width: 48%;
    height: 400px;
    display: inline-flex;    
}
video{
    width: 50%;
    position: fixed;
    bottom: .5%;
    right: 1rem;
    z-index: -1;
}

/* --------------------------------footer-------------------------------------------- */

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 80px;
    background-color: #535c68;
    z-index: 25;
}





@media (max-width:858px){
    label.logo{
        font-size: 25px;
        line-height: 80px;
        padding: 0 100px;
    }
    .checkbnt{
        display: block;
    }
    header ul{
        position: fixed;
        width: 100%;
        height: 30vh;
        background-color: #2c3e50;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    header ul li{
        display: block;
        line-height: 30px;
    }
    header ul li a:hover{
        background: none;
        transition: .5s;
        color: #1b9bff;
        font-size: 20px;
    }
    #check:checked ~ ul{left: 0;}
    footer h2{font-size: 20px;}
    .description h1{
        line-height: 80px;
        font-size: 20px;
        padding-left: 8rem;

    }
    .description p {
        text-align: justify;
        line-height: 20px;
        width: 80%; 
        margin-left: 3rem;   
    }
 
}